[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"


[packages]

django = ">=5.2,<5.3"
python-decouple = ">=3.8,<4"
django-compressor = ">=4.6,<5"
django-compressor-toolkit = "*"
django-npm = ">=1.0.1,<2"
django-constance = ">=4.3,<5"
django-picklefield = ">=3.4,<4"
requests = ">=2.34,<3"
django-registration-redux = ">=2.13,<3"
pillow = ">=12,<13"
social-auth-app-django = ">=5.9,<6"
djangorestframework = ">=3.17,<4"
django-filter = ">=25.2,<26"
django-revproxy = ">=0.13,<0.14"
diazo = ">=2,<3"
lxml = ">=6,<7"
"python3-openid" = ">=3.2,<4"
django-macros = "*"
django-widget-tweaks = ">=1.5,<2"
pydiscourse = ">=1.7,<2"
gunicorn = ">=26,<27"
"psycopg2-binary" = ">=2.9,<3"
pytz = ">=2026.2,<2027"


[requires]

python_version = "3.12"
